﻿/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*==============================
GENERAL STYLES
==============================*/


body {
    font-family: 'Maven Pro', sans-serif;
    line-height: 25px;
}

.pad-bottom {
    padding-bottom: 60px;
}

section {
    padding-bottom: 120px;
    padding-top: 100px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.set-bk-clr {
    background-color: rgba(56, 60, 122, 0.88);
}

.clr-set {
    color:rgba(56, 60, 122, 0.88);
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
    background-color: rgba(107, 1, 41, 0.67);
}
/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-brand {
    padding:0px;

}
.navbar-brand img {
    height:50px;
}
.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    text-decoration: none;
}

.navbar-default {
    background-color:rgba(56, 60, 122, 0.88);
    border-color: transparent;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    background: url(../img/tela1.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #000;
}

#header .overlay {
    background-color: rgba(3, 3, 3, 0.3);
    min-height: 700px;
}

#header h1 {
    line-height: 60px;
    font-size: 45px;
    font-weight: 900;
    padding-top: 180px;
    padding-bottom: 35px;
    color:rgba(56, 60, 122, 1);
}


#header h4 {
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

/*================================
    SERVICES STYLES
==================================*/


#espera {
    background: url(../img/home.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#espera .overlay {
    background-color: rgba(3, 3, 3, 0.4);
    min-height: 200px;
}

#services {
    background-color: rgba(237, 237, 237, 1);
}

#services i {
    font-size: 80px;
    padding: 30px;
    color:rgba(56, 60, 122, 0.88);
}

#services h4 {
    padding-bottom: 5px;
    padding-top: 15px;
}


/* =============================================================
 PORTFOLIO SECTION STYLES
 ============================================================ */

/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.caegories a.active {
    background-color:rgba(56, 60, 122, 0.88);
    border: 2px solid rgba(56, 60, 122, 0.88);
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
#works{
    background: url(../img/tela3.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#works .overlay {
    background-color: rgba(3, 3, 3, 0.6);
    min-height: 700px;
}

#works .work-wrapper {
    border: 2px solid rgba(56, 60, 122, 0.9);
    padding: 2px;
    margin: 5px 5px 10px 5px;

}

#works img {
    filter: gray; /* FOR IE6-9 */
    -webkit-filter: grayscale(1); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 0.8;
}

#works img:hover {
    filter: none; /* FOR IE6-9 */
    -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 1;
}
/* =============================================================
  TESTIMONIAL SECTION STYLES
 ============================================================ */
#testimonial {
    background: url(../img/tela2.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#testimonial .overlay {
    background-color: rgba(0,0,0,0.7);
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* =============================================================
  TEAM SECTION STYLES
 ============================================================ */
#saturno{
    background-color: rgba(237, 237, 237, 1);
}
/* =============================================================
  TESTIMONIAL SECTION STYLES
 ============================================================ */
#team {
    background: url(../img/tela1.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#team .overlay {
    background-color: rgba(0,0,0,0.7);
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.media img { 
    max-height: 150px;
    margin-bottom: 20px;
    border: 2px solid rgba(56, 60, 122, 0.88);
}

.media img:hover {
    opacity: 0.6;
}
/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact {
    background: url(../img/clients.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#contact .overlay {
    background-color: rgba(0,0,0,0.9);
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 1);
}

footer a, footer a:hover {
    color: #000;
    text-decoration: none;
}


.f .overlay {   
    padding-top: 90px;
    min-height: 640px;
    color: #000;
} 
.ativo, .active {
    opacity: 1;
    display: block;
}




.f1 {
    background: url(../img/ps/1.jpg) no-repeat center center;
    padding: 0; 
    -webkit-background-size: cover;
    background-size: contain;
    -moz-background-size: cover;
    background-attachment: fixed;
}
.f2 {
    background: url(../img/ps/2.jpg) no-repeat center center;
    padding: 0; 
    -webkit-background-size: cover;
    background-size: contain;
    -moz-background-size: cover;
    background-attachment: fixed;
}
 